:root {
  --main-bg-color: #151f2b;
  --border-color: #38444d;
  --items-bg-color: #192734;
  --text-color: #ffffff;
  --tweet-button-color: #1a91da;
  --item-bg-hover-color: #333b45;
  --gray-light: #2D3741;
  --gray-800:#8899A6;
  --placeholder-text-color: #8697a4;
  --input-text-bg-color: #253341;
  --item-focus-color: #208aca;
  --hover-items-bg-color: #202f3a;
  --link-color: #6d7b85;
  --more-info-color: #1da1f2;
  --more-info-bg-color: #20394d;
  --show-more-color: #1da1f2;
  --blue-100:#1C9BE9;
  --gray-700: #1C2732;
  --green-100: 0, 186, 124;
  --red-500: 249, 24, 128;


  --primary-font: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}
/* Container */
.container {
  display: flex;
  flex-flow: row nowrap;
  width: 1230px;
  margin: auto;
  height: 100vh;
}
/* Ul style */
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
/* Left column */
.left-col {
  width: 275px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* Logo - Start */
.twitter-logo {
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
}
.twitter-logo:hover {
  background-color: var(--items-bg-color);
}
/* Logo - End */

/* navigation menu - Start */

.nav-menu {
  height: 600px;
  margin-right: 30px;
  margin-top: 16px;
}
.nav-menu-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}
.nav-items {
  padding: 15px 0 0;
  margin-top: 20px;
}
.nav-container:hover {
  background-color: var(--item-bg-hover-color);
}
.nav-item {
  padding-left: 24px;
}
/* Navigation menu - End */

/* Navigation menu and Logo - Start */
.nav-container,
.twitter-logo {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 16px;
  color: var(--text-color);
  border-radius: 25px;
}
/* Navigation menu & Logo  - End */

/* Tweet Button - Start */
.tweet-button {
  background-color: var(--tweet-button-color);
  border: none;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  color: var(--text-color);
  padding: 16px;
  font-weight: bold;
  margin-top: 16px;
}
.tweet-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* Tweet Button - End */

/* fast access settings - Start */
.fast-access-settings {
  border-radius: 36px;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0 12px 12px 0;
}

.fast-access-settings .fa-ellipsis-h {
  padding-right: 4px;
  align-self: center;
}

.fast-access-settings:hover {
  background-color: var(--gray-light);
}
.fast-access-settings .username-info:hover .username {
  text-decoration: none;
  color: var(--text-color);
}
/* fast access settings - End */

/* Content - Start */
.content {
  width: 600px;
  margin-right: 30px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  
}
/* Content Header - Start */
.content-header {
  
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 0  8px;
}
.content-header-item {
  font-size: 20px;
  width: 80px;
  text-align: center;
}
.content-header .fa-certificate{
  align-self: center;
  color: var(--text-color);
  padding: 10px;
  border-radius: 50px;
}
.content-header .fa-certificate:hover{
  background-color: var(--hover-items-bg-color);
}
/* Content Header - End */

/* What happening box - Start */
.what-happening-box {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 8px;
}
.tweet-box{
  display: flex;
  justify-content:space-between;
}
.text-privacy-container{
  width: calc(100% - 80px);
  padding-top: 16px;
}
.tweet-field {
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
  color: var(--text-color);
  font-size: 20px;
  font-family: var(--primary-font);
  align-self: self-end;
  
}
.tweet-field:focus{
  outline: none;
}
.what-happening-box .user-card {
  width: 80px;
  text-align: center;
  display: block;
}
.what-happening-box .user-avatar:hover{
  opacity: 0.9;
}

.tweet-box-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 12px;
}

.tweet-box-icon{
  display: inline;
  border-radius: 25px;
  padding: 6px;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  color: var(--blue-100);
}
.tweet-box-icon:hover{
  background-color: var(--hover-items-bg-color);
}
.status{
  background-color: var(--tweet-button-color);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  color: var(--text-color);
  padding: 10px 16px;
  font-weight: bold;
  
}
.status:disabled {
  opacity: 0.4;
}

.privacy-box{
  display:none;
 
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
  margin-bottom: 10px;
  
}


.privacy-message{
  text-decoration: none;
  color: var(--blue-100);
  font-size: 14px;
  font-weight: bold;
}

.tweet-field:focus ~ .privacy-box , .tweet-field:valid ~ .privacy-box{
  display:block;
  
}
/* What happening box - End */

/* Content - End */

/* right column  */
.right-col {
  width: 350px;
  display: flex;
  flex-flow: column;
}
/* Search box - Start */
.search-box {
  margin-top: 5px;
  width: 100%;
  position: relative;
  border-radius: 25px;
}
.search-field {
  background-color: var(--input-text-bg-color);
  border: 1px solid var(--input-text-bg-color);
  color: var(--text-color);
  border-radius: 25px;
  padding: 14px 16px 14px;
  padding-left: 50px;
  width: calc(100% - 67px);
  outline: none;
}

.search-field:focus {
  background-color: transparent;
  border: 1px solid var(--item-focus-color);
}

.search-field:focus + .search-icon {
  color: var(--item-focus-color);
}

.search-icon {
  position: absolute;
  top: 0;
  padding: 14px 14px 14px 24px;
  color: var(--placeholder-text-color);
}
/* Search box - End */

/* Trends for you - Start */
.trends-container {
  background-color: var(--items-bg-color);
  border-radius: 25px;
  margin: 15px 0px 15px;
}
.box-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}
.trends-title {
  margin: 0;
}
.settings {
  padding: 8px;
  color: var(--text-color);
  border-radius: 50%;
}
.settings:hover {
  background-color: var(--hover-items-bg-color);
}
.trend {
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.trend:hover {
  background-color: var(--hover-items-bg-color);
}
.hashtag {
  font-size: 14px;
  color: var(--link-color);
}
.trend-name {
  margin-top: 2px;
  margin-bottom: 2px;
}
.number-of-tweets {
  font-size: 14px;
  color: var(--link-color);
}
.trend-more-info {
  padding: 8px 10px;
  color: var(--link-color);
  border-radius: 50%;
  float: right;
}
.trend-more-info:hover {
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}
.box-footer {
  display: flex;
}
.show-more {
  text-decoration: none;
  color: var(--show-more-color);
  border-radius: 0 0 25px 25px;
  width: 100%;
  padding: 16px 20px;
}
.show-more:hover {
  background-color: var(--hover-items-bg-color);
}
/* Trends for you - End */

/* Who to follow - Start */
.follow-container {
  background-color: var(--items-bg-color);
  border-radius: 25px;
}
.follow-title {
  margin: 0;
  margin-bottom: 20px;
}
.follow {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.follow:hover {
  background-color: var(--hover-items-bg-color);
}
.user-card {
  text-decoration: none;
  display: flex;
  flex-flow: row;
}
.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.username-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}
.username {
  color: var(--text-color);
  margin: 0;
  font-size: 15px;
}
.user-handel {
  font-size: 14px;
  margin-top: 3px;
  color: var(--link-color);
}
.username-info:hover .username {
  text-decoration: underline;
  color: var(--text-color);
}
.follow-button {
  font-weight: bold;
  padding: 8px 16px;
  align-self: center;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
/* Who to follow - End */

/* tweet simple template - start */
.tweet-template{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
}
.tweet-template:hover{
  background-color: var(--gray-700);
}
.tweet-template .user-card{
  width: 80px;
  text-align: center;
  display: block;
}
.tweet-template .user-card:hover{
  opacity: 0.9;
}
.tweet-template-container{
  display: flex;
  flex-direction: column;
   width: calc(100% - 80px); 

}
.tweet-options{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: flex-start;
  position: relative;
}
.more-info-icon {
  padding:  8px 10px;
  color: var(--link-color);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 4px;
}

.tweet-options .tweet-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.tweet-options .tweet-info .username{
  color: var(--text-color);
  font-size: 15px;
}
.tweet-options .tweet-info .user-handel{
  font-size: 15px;
  color: var(--link-color);
  margin-left: 4px;
  margin-top: 0;
}
.user-container{
  display:flex;
}
.user-container:hover .username{
  text-decoration: underline;
}
.tweet-options .tweet-info .tweet-time{
  font-size: 15px;
  color: var(--link-color);
  margin-left: 4px;
}
.tweet-options .tweet-info .tweet-time:hover{
  text-decoration: underline;
}
.more-info-icon:hover {
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}
.tweet-content{
  margin: 8px 0 ;
}
.tweet-actions{
  
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}
.tweet-actions .tweet-action-icon{
 flex-grow: 1;
 color: var(--gray-800);
 text-decoration: none;
 font-size: 14px;
}
.tweet-action-icon .fa{
  padding:8px;
  border-radius: 50%;
  margin-right: 4px;
}
.tweet-action-icon .fa-comment:hover{
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}
.tweet-action-icon .fa-comment:hover ~ span {
  color: var(--more-info-color);
}

.tweet-action-icon .fa-retweet:hover{
  background-color: rgba(var(--green-100),0.18);
  color: rgb(var(--green-100));
}
.tweet-action-icon .fa-retweet:hover ~ span {
  color: rgb(var(--green-100));
}
.tweet-action-icon .fa-heart:hover{
  background-color: rgba(var(--red-500), 0.18);
  color: rgb(var(--red-500));
}
.tweet-action-icon .fa-heart:hover ~ span {
  color: rgb(var(--red-500));
}
.tweet-action-icon .fa-share:hover{
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}

/* tweet simple template - End */
