/*---------------------------------------------->> GLOBAL - START  <<<----------------------------------------------*/
:root {
  --main-bg-color: #151f2b;
  --border-color: #38444d;
  --items-bg-color: #192734;
  --text-color: #ffffff;
  --tweet-button-color: #1a91da;
  --item-bg-hover-color: #333b45;
  --gray-light: #2D3741;
  --gray-800:#8899A6;
  --placeholder-text-color: #8697a4;
  --input-text-bg-color: #253341;
  --item-focus-color: #208aca;
  --hover-items-bg-color: #202f3a;
  --link-color: #6d7b85;
  --more-info-color: #1da1f2;
  --more-info-bg-color: #20394d;
  --show-more-color: #1da1f2;
  --blue-100:#1C9BE9;
  --gray-700: #1C2732;
  --green-100: 0, 186, 124;
  --red-500: 249, 24, 128;


  --primary-font: Arial, Helvetica, sans-serif;
}

.page {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}

/* Ul style */
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.page__inner {
  display: flex;
  flex-flow: row nowrap;
  width: 1230px;
  margin: auto;
  height: 100vh;
}

/*---------------------------------------------->>> GLOBAL - END  <<<----------------------------------------------*/

/* -------------------------------------------->> Left column  - Start<<<----------------------------------------*/

.left-col {
  width: 275px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* Logo - Start */

.logo {
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  
  color: var(--text-color);
  
}

.logo:hover {
  background-color: var(--items-bg-color);
}

/* Logo - End */

/* navigation menu - Start */

.left-col__container {
  height: 600px;
  margin-right: 30px;
  margin-top: 16px;
}

.left-col__menu {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.menu-item {
  padding: 15px 0 0;
  margin-top: 20px;
}

.menu-item__text{
  padding-left: 24px;
}

.menu-item__container {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 16px;
  color: var(--text-color);
  border-radius: 25px;
}

.menu-item__container:hover {
  background-color: var(--item-bg-hover-color);
}

/* Navigation menu - End */

/* Tweet Button - Start */
.left-col__tweet-button {
  background-color: var(--tweet-button-color);
  border: none;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  color: var(--text-color);
  padding: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.left-col__tweet-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* Tweet Button - End */

/* fast access settings - Start */
.left-col__user-footer {
  border-radius: 36px;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px 12px 0;
}

.left-col__user-footer:hover {
  background-color: var(--gray-light);
}

.left-col__user-footer-icon{
  padding-right: 4px;
  align-self: center;
}


.left-col__user-footer__avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.left-col__user-footer__card {
  display:flex;
  align-items: center;
}
.left-col__user-footer__info{
 
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;

  
}
.left-col__user-footer__name {
  color: var(--text-color);
  font-size: 15px;
  margin:0;
}
.left-col__user-footer__handel {
  font-size: 14px;
  color: var(--link-color);
  
}

/* fast access settings - End */

/* -------------------------------------------->> left column  - End <<<----------------------------------------*/

/*--------------------------------------------->> Content - Start <<--------------------------------------------- */

.content {
  width: 600px;
  margin-right: 30px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  
}

/* Content Header - Start */

.content__header {
  
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 0  8px;
}

.content__header__text {
  font-size: 20px;
  width: 80px;
  text-align: center;
}

.content__header_icon{
  align-self: center;
  color: var(--text-color);
  padding: 10px;
  border-radius: 50px;
}

.content__header_icon:hover{
  background-color: var(--hover-items-bg-color);
}

/* Content Header - End */

/* What happening box - Start */

.what-happening-box {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 8px;
}

.tweet-box{
  display: flex;
  justify-content:space-between;
}

.tweet-box__container{
  width: calc(100% - 80px);
  padding-top: 16px;
}

.tweet-box__field {
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
  color: var(--text-color);
  font-size: 20px;
  font-family: var(--primary-font);
  align-self: self-end;
  
}

.tweet-box__field:focus{
  outline: none;
}

.tweet-box__user-card {
  width: 80px;
  text-align: center;
  display: block;
}

.tweet-box__user-avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.tweet-box__user-avatar:hover{
  opacity: 0.9;
}

.tweet-box__options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 12px;
}

.tweet-box__options__icon{
  display: inline;
  border-radius: 25px;
  padding: 6px;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  color: var(--blue-100);
}

.tweet-box__options__icon:hover{
  background-color: var(--hover-items-bg-color);
}

.tweet-box__options-status{
  background-color: var(--tweet-button-color);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  color: var(--text-color);
  padding: 10px 16px;
  font-weight: bold;
  
}

.tweet-box__options-status:disabled {
  opacity: 0.4;
}

.tweet-box__privacy{
  display:none;
 
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
  margin-bottom: 10px;
  
}

.tweet-box__privacy-message{
  text-decoration: none;
  color: var(--blue-100);
  font-size: 14px;
  font-weight: bold;
}

.tweet-box__field:focus ~ .tweet-box__privacy , .tweet-box__fieldvalid ~ .tweet-box__privacy{
  display:block;
  
}

/* What happening box - End */


/* tweet simple template - start */

.tweet-template{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
}

.tweet-template:hover{
  background-color: var(--gray-700);
}

.tweet-template__user-card{
  width: 80px;
  text-align: center;
  display: block;
}

.tweet-template__user-avatar{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tweet-template__user-card:hover , .tweet-template__user-avatar{
  opacity: 0.9;
}

.tweet-template__container{
  display: flex;
  flex-direction: column;
   width: calc(100% - 80px); 

}

.tweet-template__header{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: flex-start;
  position: relative;
}
.tweet-template__more-info-icon {
  padding:  8px 10px;
  color: var(--link-color);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 4px;
}

.tweet-template__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.tweet-template__user__name{
  color: var(--text-color);
  margin: 0;
  font-size: 15px;
}

.tweet-template__user__handel{
  font-size: 15px;
  color: var(--link-color);
  margin-left: 4px;
  margin-top: 0;
}

.tweet-template__user{
  display:flex;
}

.tweet-template__user:hover .tweet-template__user__name{
  text-decoration: underline;
}

.tweet-template__time{
  font-size: 15px;
  color: var(--link-color);
  margin-left: 4px;
}

.tweet-template__time:hover{
  text-decoration: underline;
}

.tweet-template__more-info-icon:hover {
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}

.tweet-template__content{
  margin: 8px 0 ;
}

.tweet-template__footer{
  
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.tweet-template__footer__icon{
 flex-grow: 1;
 color: var(--gray-800);
 text-decoration: none;
 font-size: 14px;
}

.tweet-template__icon{
  padding:8px;
  border-radius: 50%;
  margin-right: 4px;
}

.tweet-template__icon__reply:hover{
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}

.tweet-template__icon__reply:hover ~ .reply__times {
  color: var(--more-info-color);
}

.tweet-template__icon__retweet:hover{
  background-color: rgba(var(--green-100),0.18);
  color: rgb(var(--green-100));
}

.tweet-template__icon__retweet:hover ~ .retweet__times {
  color: rgb(var(--green-100));
}

.tweet-template__icon__like:hover{
  background-color: rgba(var(--red-500), 0.18);
  color: rgb(var(--red-500));
}

.tweet-template__icon__like:hover ~ .like__times {
  color: rgb(var(--red-500));
}

.tweet-template__icon__share:hover{
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}

/* tweet simple template - End */

/*---------------------------------------->> Content - End <<------------------------------------------------ */

/* --------------------------------------->> right column - Start<<------------------------------------------ */

.right-col {
  width: 350px;
  display: flex;
  flex-flow: column;
}

/* Search box - Start */

.right-col__header {
  margin-top: 5px;
  width: 100%;
  position: relative;
  border-radius: 25px;
}

.right-col__header__search-field {
  background-color: var(--input-text-bg-color);
  border: 1px solid var(--input-text-bg-color);
  color: var(--text-color);
  border-radius: 25px;
  padding: 14px 16px 14px;
  padding-left: 50px;
  width: calc(100% - 67px);
  outline: none;
}

.right-col__header__search-field:focus {
  background-color: transparent;
  border: 1px solid var(--item-focus-color);
}

.right-col__header__search-field:focus + .right-col__header__search-icon {
  color: var(--item-focus-color);
}

.right-col__header__search-icon {
  position: absolute;
  top: 0;
  padding: 14px 14px 14px 24px;
  color: var(--placeholder-text-color);
}

/* Search box - End */

/* Trends for you - Start */

.right-col__trends{
  background-color: var(--items-bg-color);
  border-radius: 25px;
  margin: 15px 0px 15px;
}

.trends__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.trends__header__title {
  margin: 0;
}

.trends__header__settings {
  padding: 8px;
  color: var(--text-color);
  border-radius: 50%;
}

.trends__header__settings:hover {
  background-color: var(--hover-items-bg-color);
}

.trends__container {
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.trends__container:hover {
  background-color: var(--hover-items-bg-color);
}

.trends__container__hashtag {
  font-size: 14px;
  color: var(--link-color);
}

.trends__container__title {
  margin-top: 2px;
  margin-bottom: 2px;
}

.trends__container__number-of-tweets {
  font-size: 14px;
  color: var(--link-color);
}

.trends__container__more-info {
  padding: 8px 10px;
  color: var(--link-color);
  border-radius: 50%;
  float: right;
}

.trends__container__more-info:hover {
  background-color: var(--more-info-bg-color);
  color: var(--more-info-color);
}

.trends__footer {
  display: flex;
}

.trends__footer__show-more {
  text-decoration: none;
  color: var(--show-more-color);
  border-radius: 0 0 25px 25px;
  width: 100%;
  padding: 16px 20px;
}

.trends__footer__show-more:hover {
  background-color: var(--hover-items-bg-color);
}

/* Trends for you - End */

/* Who to follow - Start */

.right-col__follow {
  background-color: var(--items-bg-color);
  border-radius: 25px;
}

.follow__header__title {
  margin: 0;
  margin-bottom: 20px;
}

.follow__container{
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.follow__container:hover {
  background-color: var(--hover-items-bg-color);
}
.follow__container__user-card {
  text-decoration: none;
  display: flex;
  flex-flow: row;
}
.follow__container__user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.follow__container__username-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}
.follow__container__username {
  color: var(--text-color);
  margin: 0;
  font-size: 15px;
}
.follow__container__user-handel {
  font-size: 14px;
  margin-top: 3px;
  color: var(--link-color);
}
.follow__container__username-info:hover .follow__container__username {
  text-decoration: underline;
  color: var(--text-color);
}
.follow__container__button {
  font-weight: bold;
  padding: 8px 16px;
  align-self: center;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.follow__footer {
  display: flex;
}
.follow__footer__show-more {
  text-decoration: none;
  color: var(--show-more-color);
  border-radius: 0 0 25px 25px;
  width: 100%;
  padding: 16px 20px;
}

.follow__footer__show-more:hover {
  background-color: var(--hover-items-bg-color);
}

/* Who to follow - End */

/* --------------------------------------->> right column - End<<------------------------------------------ */
